[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=remove panel
Comment=i do not need a panel
Exec=xfce4-panel -q
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

