[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=skippy-xd daemon
Comment=expose for all desktops
Exec=y-xd --start-daemon
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

